.language-menu-flex {
	/* FIXME */
	/* https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html */
	max-width: 80ch;

	/* Do not let the language menu expand to the end of the page */
	.pf-c-menu__content {
		max-height: 20rem;
		overflow: auto;
	}
}
